@mixin container($direction: column, $justify: flex-start, $align: flex-start, $width: 100%, $height: 100%) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  width: $width;
  height: $height;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}