@font-face {
  font-family: 'pre-thin';
  src: url('./Pretendard-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-semiBold';
  src: url('../fonts/Pretendard-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-regular';
  src: url('./Pretendard-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-medium';
  src: url('./Pretendard-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-light';
  src: url('./Pretendard-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-extralight';
  src: url('./Pretendard-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-extrabold';
  src: url('./Pretendard-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-bold';
  src: url('./Pretendard-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'pre-black';
  src: url('./Pretendard-Black.ttf') format('truetype');
}